body {
    background-color: black;
    /* background-image: url("../images/back.jpg"); */
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Lobster', cursive;
}

h1 {
    font-size: 40px;
    font-weight: 700;
    margin: 0 0 20px 15px;
}

button {
    margin: 10px 5px 0 5px;
    font-size: 24PX;
    font-family: 'Lobster', cursive;
}

input {
    margin: 25px 0 25px 15PX;
    font-size: 24px;
    font-family: 'Lobster', cursive;

}

.header {
    background-color: rgba(65, 65, 65, 0.76);
    color:rgb(226, 224, 224);
    padding: 5px 0 5px 0;
}

.gif-holder{
    background-color: rgba(187, 187, 187, 0.651);
    margin: 10px 9px 0 10px;
    padding: 2px 3px 3px 3px;
    float: left;
}


.rated {
    padding-bottom: 3px;
    font-size: 24px;
    color:  black;
}

.gif-display {
    background-color: black;
    /* width: 1600px; */
}

#topic-btn {
    margin-left: 20px;
}

